body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin-top: 15px;
  font-size: 24px;
}

.subtitle {
  font-size: 14px;
  color: #555;
}

#map {
  height: 85vh;
  width: 95%;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.leaflet-popup-content {
  font-size: 13px;
  line-height: 1.4;
}
